<mat-card>
    <mat-card-title>Novo Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome"
                [(ngModel)]="produto.nome" name="nome">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Descrição"
                [(ngModel)]="produto.descricao" name="descricao">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Status</mat-label>
            <mat-select [(ngModel)]="produto.status" name="status">
                <mat-option value="Ativo">Ativo</mat-option>
                <mat-option value="Inativo">Inativo</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Valor Unidade"
                [(ngModel)]="produto.valorUnidade" name="valorUnidade">
        </mat-form-field>
        
    </form>
    
    <button mat-raised-button (click)="createProduto()" color="primary">
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>

