<mat-card>
    <mat-card-title>Alterar Lancamento</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Id"
                [(ngModel)]="lancamento.id" name="id" readonly>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cliente"
                [value]="lancamento.cliente?.nome" name="cliente.nome" readonly
                (input)="updateClienteNome($event)">
        </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Produto"
                [value]="lancamento.produto?.nome" name="produto.nome" readonly
                (input)="updateProdutoNome($event)">
        </mat-form-field>
          
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Data Venda" [(ngModel)]="lancamento.dataVenda" name="dataVenda">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Quantidade Vendida"
                [(ngModel)]="lancamento.quantidadeVendida" name="quantidadeVendida" required (ngModelChange)="calcularValorTotal()">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Valor Total Venda"
                [(ngModel)]="lancamento.valorTotalVenda" name="valorTotalVenda" readonly>
        </mat-form-field>
        
    </form>
    <button mat-raised-button (click)="updateLancamentoInput()" color="primary">
        Atualizar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>
