<mat-card>
    <mat-card-title>Excluir Cliente</mat-card-title>
    <form>
         <!-- Nome Column -->
          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
            <td mat-cell *matCellDef="let row">{{row.nome}}</td>
          </ng-container>
      
          <!-- cpfCnpj Column -->
          <ng-container matColumnDef="cpfCnpj">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>CPF/CNPJ</th>
            <td mat-cell *matCellDef="let row">{{row.cpfCnpj}}</td>
          </ng-container>
      
          <!-- Status Column -->
          <ng-container matColumnDef="endereco">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Endereco</th>
            <td mat-cell *matCellDef="let row">{{row.endereco}}</td>
          </ng-container>
      
          <!-- Valor Unidade Column -->
          <ng-container matColumnDef="dataNacimento">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Data Nacimento</th>
            <td mat-cell *matCellDef="let row">{{row.dataNacimento}}</td>
          </ng-container>

          <ng-container matColumnDef="tipoPessoa">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo Pessoa (1 - física, 2 - jurídica)</th>
            <td mat-cell *matCellDef="let row">{{row.tipoPessoa}}</td>
          </ng-container>
      
    </form>
    <button mat-raised-button (click)="deleteCliente()" color="warn">
        Excluir
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>
